body, h1, p, button {
    margin: 0;
    padding: 0;
}
#interface {
	border: solid black 3px;
	background-color: #C9C9C9;
	position: fixed;
    bottom: 0;
	
	height: 30%;
	width: 95%;
	margin-bottom: 20px;
}
body {
	background-image: url("../images/trone2.png");
	background-repeat:no-repeat;
background-size:cover;
}

.container {
    width: 80%;
    margin: 0 auto;

}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
	font-family:"Goudy Old Style", Garamond, serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
	
    background-color: #8b4513; /* Couleur de fond marron */
    color: #fff; /* Couleur de texte blanc */
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 1px;
	 margin-top:50px;
	
}
button:hover {
    background-color: #a0522d; /* Couleur de fond marron plus clair au survol */
}

#ecu {
    width: 20px;
    vertical-align: middle;
}

#armures {
    width: 200px;
    margin-top: 10px;
}

#username {
    display: none; /* Masquer le champ username */
}
