body {
	background-image: url("../images/chateau2.png");
	background-repeat:no-repeat;
	background-size:cover;
	
}
h1 {
	font-family:Brush Script MT	;
	font-size: 50px;
	padding-left:750px;
}
p{
	font-size: 20px;
}
.bulle {
	background-color:#ffffff;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
	
}


