body {
	background-image: url("../images/grotte.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-color: black;
}
#affichepvjoueur,#affichepvboss {
	border: solid black 3px;
	position: fixed;
	background-color: #C9C9C9;
	font-size: 8px;
	height: 50px;
	width: 200px;
	padding: 5px;
}
#affichepvjoueur {
	left: 0;
}
#affichepvboss {
	right: 0;
}
#interface{
	border: solid black 3px;
	background-color: #C9C9C9;
	position: fixed;
    bottom: 0;
	height: 30%;
	width: 95%;
	margin-bottom: 20px;
}
.cache {
	visibility: hidden;
}
.pv {
	border: solid black 1px;
	background-color: white;
	width: 150px;
	height: 10px;
	margin-left: 23px;
	
}
#chevalier {
	display:block;
	position: static;
	width: 100%;
	margin-bottom: 5%;
}

#monstre {
	display: block;
	float:right;
	width: 120%;
}
h2 {
	margin-left: 5%;
	font-size: 30px;
}

#bouton_valider {
	display:block;
	width:120px;
	height: 50px;
	margin:auto;
	margin-top: 10px;
	font-size: 20px;
	border-radius: 2px;
	padding: auto;
}
#boutongauche {
	float: left;
	margin-left: 10%;
	font-size: 40px;
}
#boutondroite{
	float: right;
	margin-right: 10%;
	font-size: 40px;
}
p {
	font-size: 15px;
	margin-left: 10px;
}