body {
	background-image: URL("../images/foret.png");
	background-size:cover;
	background-repeat:no-repeat;
}

h1 {
	font-size: 50px;
	text-align: center;
}

#dialogue {
	border: solid black 3px;
	background-color: #C9C9C9;
	position: fixed;
    bottom: 0;
	height: 30%;
	width: 95%;
	margin-bottom: 20px;
}
p {
	font-size: 20px;
}
#chevalier {
	display:block;
	position: static;
	width: 100%;
	margin-bottom: 5%;
}
#gobelin {
	display: block;
	float:right;
	width: 1000px;
}