body, h1, p, button {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5eac8; /* Couleur de fond beige clair */
    font-family: 'Times New Roman', Times, serif; /* Police de caractères */
    color: #3d2c1e; /* Couleur de texte marron foncé */
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #8b4513; /* Couleur de fond marron */
    color: #fff; /* Couleur de texte blanc */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #a0522d; /* Couleur de fond marron plus clair au survol */
}

#ecu {
    width: 20px;
    vertical-align: middle;
}

#armures {
    width: 200px;
    margin-top: 10px;
}

#username {
    display: none; /* Masquer le champ username */
}
